<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find Urdf_ConfigFiles)/urdf/Urdf_ConfigFiles.urdf" />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find Urdf_ConfigFiles)/urdf.rviz" />
</launch>
